# Keep this file private. Rename it to .env.
EBAY_CLIENT_ID=
EBAY_CLIENT_SECRET=
EBAY_MARKETPLACE_ID=EBAY_GB
EBAY_DELIVERY_COUNTRY=GB
EBAY_ITEM_LOCATION_COUNTRY=GB
WORKBOOK_PATH=Pokemon-Auction-Scanner-Dashboard.xlsx
